<?xml version="1.0" encoding="utf-8"?>
<widget id="WIDGET_ID" pluginWidget="true" needsEntityContext="true" offlineCapable="OFFLINE_CAPABLE"
        supportedPlatform="Web"
        xmlns="http://www.mendix.com/widget/1.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.mendix.com/widget/1.0/ ../node_modules/mendix/custom_widget.xsd">
    <name>HUMAN_NAME</name>
    <description>DESCRIPTION</description>
    <icon/>
    <properties>
PROPERTIES_XML
    </properties>
</widget>
