import { WIDGET_NAMESample } from "./components/WIDGET_NAMESample";
import "./ui/WIDGET_NAME.css";

export function WIDGET_NAME(PROPERTIES_PARAMS) {
    return <WIDGET_NAMESample PROPERTIES_ATTRS />;
}
